html {
    scroll-behavior: smooth;
  }

/*===== GENERAL STYLING =====*/
body {
    margin: 0%;
}

h1 {
    
    text-align: center;
    font-family: Georgia;
    margin-top: 3%;
}

p {
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center; /* This center aligns the text */
}

/* Image elements */
img {
    filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 8px; /* Gives all images slightly rounded corners */
    display: inline-block; /* link stays within image size */
    margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 1s; /* Transition lasts 1 second */
	transform: scale(1.1); /* Image is increased slightly when hovered over */
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: auto;
    }
}
/*===== GENERAL STYLING End =====*/

/*===== NAVBAR =====*/
#Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
    -webkit-animation: moveNav 2s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 2s;  /* This applies the moveNav animation for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

#Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 3s; /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 3s; 
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    #Navbar a {
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

#Navbar a:hover {
    color: rgb(216, 168, 12);
    font-weight: bold;
}
/*===== NAVBAR End =====*/

/*===== VIDEO STYLING =====*/
/* Formatting for background video */
#webvid {
    position: fixed; /* This fixes the video to the page */
    right: 0; /* This ensures there is no space between the edge of the video and the edge of the page */
    bottom: 0; /* This ensures no space between the bottom of the video and the bottom of the page */
    min-width: 100%; /* This ensures the video is displayed across the full width of the page */
    z-index: -1; /* This places the video behind the other elements on the page */
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #webvid {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    max-width: 100%;
    padding: 20px;
    mix-blend-mode: soft-light;
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 2.5s;
    animation: moveVideoText 2.5s;
}

.Video_Text h1 {
    font-size: 4.5em;
    font-variant: small-caps;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-weight: 900;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}
/*===== VIDEO STYLING End =====*/

/*===== ABOUT, GitHub STYLING =====*/
.container_2 {
    width: 50%;
    float: left;
    padding: 20px;
    margin: 0px auto;
    background-color: rgb(231, 229, 210);
    text-align: center;
    word-spacing: 2pt;
    line-height: 2.5em;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-weight: 900;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid;
}

.container {
    padding: 50px;
    margin: 0px auto;
    background-color: rgb(231, 229, 210);
    text-align: center;
    word-spacing: 2pt;
    line-height: 2.5em;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-weight: 900;
    border-bottom: 1px solid;
}

.container h1::after, .container_2 h1::after { /* This is the underline */
    display: block;
    content: " ";
    height: 2px;
    width: 100px;
    background: #000000;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}
/*===== ABOUT STYLING End =====*/

/*===== TABLE =====*/
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 40px;
    padding-top: 3%;
    height: 400px;
    background-color: rgb(231, 229, 210);
}

.Column_1 h1 {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 5px;
}

.Column_1 h1::after { /* This is the underline */
    display: block;
    content: " ";
    height: 2px;
    width: 100px;
    background: #000000;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background: rgba(0,0,0,0.5);
    mix-blend-mode: lighten;
}

.Column_2 img {
    display: block;
    max-width: 100%;
    height: 340px;
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
    content: "";
    display: block;
    clear: both;
}

.Row {
    border-radius: 1px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}
/*===== TABLE End =====*/

/*===== CONTACT FORM STYLING =====*/
/* input[type=text] targets all text input sections of the contact form */
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
    background: rgba(206, 199, 199, 0.5);
    font-size: 15px;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
}

/* Submit button */
input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=submit]:hover {
    color: rgb(216, 168, 12);
    transform: scale(1.1);
    transition: transform 1s;
}

/* Form element */
form {
    border-radius: 5px;
    background-color: #ebe6d7;
    padding: 10px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: Georgia, serif;
}
/*===== CONTACT FORM STYLING End =====*/

/* FOOTER */
footer {
    padding: 1%;
    background-color: dimgrey;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}

footer p {
    font-size: 15px;
    color: ghostwhite;
}
/* FOOTER End */





